.sgodos.games-page.sdhq {
  &.review-row {
    order: 6;
    display: flex;
    align-items: center;

    span {
      font-size: 1.4em;
      font-weight: bold;
      color: rgb(86, 112, 127);
    }

    img.logo {
      height: 26px;
    }

    img.stars {
      padding-left: 4px;
      height: 20px;
    }

    p.bod {
      background: rgb(255,199,0);
      background: linear-gradient(127deg,rgba(255,199,0,1) 0%,rgba(224,26,109,1) 50%,rgba(33,109,182,1) 100%);
      width: fit-content;
      padding: 0.2em 0.4em;
      border-radius: 3px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-left: 0.2em;
    }
  }
}
