.deck-unknown img,
.deck-unsupported img,
.deck-playable img,
.deck-verified img {
    height: 20px !important;
}

.proton-db-tier-borked,
.proton-db-tier-bronze,
.proton-db-tier-silver,
.proton-db-tier-gold,
.proton-db-tier-platinum {
    color: black;
    height: 20px !important;
    font-weight: bold;
    border-radius: 2px;
    padding: 1px 3px;
    box-sizing: border-box;
    margin: 0 4px;
}

.proton-db-tier-borked {
    background-color: #FF0000;
}

.proton-db-tier-bronze {
    background-color: #CD7F32;
}

.proton-db-tier-silver {
    background-color: #A6A6A6;
}

.proton-db-tier-gold {
    background-color: #CFB53B;
}

.proton-db-tier-platinum {
    background-color: #B4C7DC;
}
