@import "deck_verified";
@import "proton_db";
@import "sdhq";

.lower_container .platform_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#wishlist_ctn:not(.compact) {
  .wishlist_row .content {
    height: 148px;

    .title {
      flex-grow: 1;
      margin: 0;
    }

    .mid_container {
      .stats {
        margin: 0;
      }
    }
  }
}

#wishlist_ctn.compact .sgodos.wishlist-page.sdhq {
  display: none;
}

.sgodos.wishlist-page.separator {
  flex-grow: 1;
}

.platform_icons {
  .vr_required, .vr_supported {
    order: 10;
  }
}
